body{
    position: relative;
    margin: 0;
    font-family: kallisto, sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.75rem;
    display: grid;
    grid-template-columns: 1.5rem 1fr 1.5rem;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    z-index: 1;
    background-color: #fff;
    text-align: center;
}

h1{
    display: none;
}

header a{
    width: 7rem;
    grid-column: 2/3;
    grid-row: 1/2;

}

header img{
    width: 7rem;
}

header button:first-of-type{
    background-image: url(https://github.com/JRStudioUX/pokebro/blob/main/images/icons/menu.png?raw=true);
    grid-column: 1/2;
    grid-row: 1/2;
}

header button{
    background-image: url(https://github.com/JRStudioUX/pokebro/blob/main/images/icons/cart.png?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    text-indent: -99999px;
    grid-column: 3/4;
    grid-row: 1/2;
    margin: auto;
}

button:hover{
    cursor: pointer;
}

#headerNav{
    justify-self: left;
    display: none;
    margin: 0;
    grid-column: 2/3;
}

#headerNav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#headerNav ul li{
    display: inline-block;
    margin: auto;
    margin-right: 1rem;
}

#headerNav ul li:first-of-type{
    font-weight: 600;
}

#menu{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    top: 0;
}

#menu div{
    height: 100%;
    width: 60%;
    background-color: #f1f1f1;
    padding: 0.75rem;
    display: grid;
    grid-template-columns: 3rem 1fr;
    grid-template-rows: 2.5rem 3.5rem 2rem 2rem 2rem 2rem;
    row-gap: 0.5rem;
}

#menu svg:first-of-type{
    stroke: #000;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 0 1rem 0;
    stroke-width: 20px;
    grid-column: 1/2;
    grid-row: 1/2;
}

#menu h2{
    font-weight: 300;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    align-self: center;
    grid-column: 2/3;
    grid-row: 1/2;
}

#menu svg{
    z-index: 2;
    margin: 0 0 0.5rem 0.5rem;
    height: 1.5rem;
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
}

#menu input{
    padding: 0 1rem 0 2.5rem;
    height: calc(100% - 0.5rem);
    margin-bottom: 0.5rem;
    border: none;
    font-family: kallisto, sans-serif;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    grid-column: 1/3;
    grid-row: 2/3;
}

#menu button:nth-of-type(1){
    grid-column: 1/3;
    grid-row: 3/4;
}

#menu button:nth-of-type(2){
    grid-column: 1/3;
    grid-row: 4/5;
}

#menu button{
    background-color: #e33511;
    border: none;
    height: 100%;
    text-align: left;
    color: #fff;
    padding: 0 0 0 0.5rem;
    font-family: kallisto, sans-serif;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    grid-column: 1/3;
    grid-row: 5/6;
}

main{
    margin-top: 3rem;
}

#highlights{
    position: relative;
    height: 50vh;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(3,71,155,1) 80%);
}

#highlights div{
    position: absolute;
    bottom: -9.75rem;
    width: calc(100% - 2rem);
    left: 1rem;
}

#highlights button{
    font-family: kallisto, sans-serif;
    font-size: 1rem;
    width: 100%;
    margin: auto;
    height: 3.5rem;
    margin-top: 0.5rem;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#highlightsProducts{
    width: calc(100% - 2rem);
    margin: auto;
    margin-top: 12rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

a{
    text-decoration: none;
    color: #000;
}

a:hover{
    cursor: pointer;
}

.product{
    background-color: #f1f1f1;
    padding: 1rem;
    margin: 0 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1rem 1fr 1rem;
    grid-template-rows: 10rem 1fr 2rem 3rem;
    max-width: 20rem;
}

.product img{
    height: 100%;
    display: block;
    margin: auto;
    grid-column: 1/6;
    grid-row: 1/2;
}

.product h3{
    margin: 2rem 0 1rem 0;
    font-size: 1.5rem;
    grid-column: 1/6;
    grid-row: 2/3;
}

.product span{
    grid-column: 1/2;
    grid-row: 3/4;
}

.product button:first-of-type{
    grid-column: 1/4;
    grid-row: 4/5;
    background-color: #eb1b24;
    color: #fff;
    width: calc(100% - 1rem);
}

.product button{
    grid-column: 4/6;
    grid-row: 4/5;
    font-family: kallisto, sans-serif;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    font-weight: 600;
    text-align-last: left;
    padding-left: 0.75rem;
    font-size: 0.75rem;
}

.product svg:first-of-type{
    grid-column: 3/4;
    grid-row: 4/5;
    margin-right: 1.5rem;
    fill: #fff;
}

.product svg{
    grid-column: 5/6;
    grid-row: 4/5;
    height: 1rem;
    margin: auto;
    margin-right: 0.5rem;
}

nav{
    position: sticky;
    bottom: 0.75rem;
    z-index: 1;
    width: 100%;
}

nav ul{
    list-style-type: none;
    font-weight: 600;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3.25rem;
    text-align: center;
    font-size: 0.75rem;
    margin: 0.75rem;
    background-color: #f1f1f1;
    padding-bottom: 0.75rem;
    border-radius: 0.25rem;
    border-top: 2px solid #fff; 
}

nav ul a{
    height: 100%;
    padding-top: 0.75rem;
}

nav ul li svg{
    width: 1.5rem;
}

nav ul a:nth-of-type(1){
    grid-row: 1/2;
    grid-column: 1/2;
    border-bottom: 4px solid #e33511;
    border-bottom-left-radius: 0.25rem;
}

nav ul a:nth-of-type(2){
    grid-row: 1/2;
    grid-column: 2/3;
    border-bottom: 4px solid #ee6b33;
}

nav ul a:nth-of-type(3){
    grid-row: 1/2;
    grid-column: 3/4;
    border-bottom: 4px solid #4cac61;
    border-bottom-right-radius: 0.25rem;
}

nav ul li span{
    display: block;
    color: #888;
}

footer{
    background-color: #333333;
    color: #fff;
    padding: 1rem 1rem 5rem 1rem;
    margin-top: 2rem;
}

#productPage nav{
    width: 100%;
    position: static;
    height: 2rem;
    font-size: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
}

#productPage nav a{
    height: 100%;
    display: grid;
    grid-template-columns: 0.5rem 3rem 1fr;
    grid-row: 1fr;
    justify-items: center;
    align-items: center;
}

#productPage nav svg{
    height: 0.75rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

#productPage nav span{
    grid-column: 2/3;
    grid-row: 1/2;
}

#productPage main{
    margin: 3rem 1rem 0 1rem;
}

#productPage section img{
    display: block;
    width: 70%;
    margin: auto;
    margin: 2rem 15% 3rem 15%;
}

#productPage section h2{
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
}

#productPage section p{
    font-size: 1rem;
}

p{
    line-height: 1.5rem;
}

#productPage div{
    width: calc(100% - 1.5rem);
    position: sticky;
    bottom: 0;
    padding: 0.75rem;
    background-color: #fff;
}
  
#productPage div button{
    background-color: #eb1b24;
    color: #fff;
    font-family: kallisto, sans-serif;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    text-align-last: left;
    padding-left: 1rem;
    font-size: 0.75rem;
    height: 3rem;
    width: calc(80%  - 1.5rem);
    position: relative;
}

#productPage div svg{
    fill: #fff;
    height: 1rem;
    position: absolute;
    right: 1rem;
    top: calc(50% - 0.5rem);
}

#productPage div span{
    margin-left: 5%;
    width: 15%;
    background-color: #fff;
}

#products{
    margin: 3rem 1rem 0 1rem;
}

#products nav:first-of-type{
    width: 100%;
    position: static;
    height: 2rem;
    font-size: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
}

#products nav:first-of-type a{
    height: 100%;
    display: grid;
    grid-template-columns: 0.5rem 3rem 1fr;
    grid-row: 1fr;
    justify-items: center;
    align-items: center;
}

#products nav:first-of-type svg{
    height: 0.75rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

#products nav:first-of-type span{
    grid-column: 2/3;
    grid-row: 1/2;
}

#products section{
    display: grid;
}

#products .products{
    margin-top: 0;
}

#products nav:last-of-type ul{
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (min-width: 830px) {
    #highlights div{
        left: calc(50% - 25rem);
        width: 50rem;
        bottom: -1.75rem;
    }
    
    #highlights button{
        display: inline-block;
        width: 33%;
    }

    #highlightsProducts{
        margin-top: 4rem;
    }
  }

@media only screen and (min-width: 1050px){
    header{
        grid-template-columns: 1.5rem 40% 1fr 40% 1.5rem;
    }

    header button:first-of-type{
        display: none;
    }

    header button{
        grid-column: 5/6;
    }

    header a{
        grid-column: 3/4;
    }

    #headerNav{
        display: block;
    }

    nav{
        display: none;
    }
}

  